


body {
  background-image: url('homebg.png');
  color: rgb(119, 123, 154);
}

html {
    color: #bcbcbc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    color: #ffffffe6;
    font-family: Georgia, 'Times New Roman', Times, serif, 'Times New Roman', Times, serif;
    font-size: 3.5rem;
}
.amatic-sc-regular {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.amatic-sc-bold {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.highlight {
  background-color: rgba(32, 48, 95, 0.678);
}
.highlight2 {
  background-color: rgba(85, 94, 137, 0.679);
}
.navbar {
  background-color: rgba(33, 37, 70, 0.883);
  display: flex;
  justify-content: center;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 5em;
}
.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  transition: 1.5s; 

}

.nav-links li a:hover {
  background-color: rgba(116, 123, 158, 0.679);

}
.title {
  text-align: center;
  padding: 1em;
}
.current {
  text-decoration: underline dotted rgba(255, 255, 255, 0.652) 0.3em;
}
.accordion-header {
  width : 100%;
  background-color: rgba(85, 94, 137, 0.679);
  border: none;
  padding: 1em 1em 1em 3em;
  text-align: left;
  font-size: 1.1rem;
  font-family: sans-serif;
  cursor: pointer;
  transition: 0.8s;
  color: rgba(255, 255, 255, 0.828);
}
.accordion-content {
display: none;
}
.accordion-header:hover {
  background-color: rgba(255, 255, 255, 0.277);
  
}

.paragraph {
color:rgb(224, 225, 233)
}

.blog-entry {
  display: flex;
  align-items: center;
  gap: 2em;
  padding-right: 2%;
  margin-bottom: 2em;
}
.blog-entry img {
  width: 40%;
  border-radius: 0 1.5em 1.5em 0;
}
.enter-password button {
  font-size: 1.3em;
  padding: 0.3;
  border-radius: 0.5em;
  background-color: rgba(85, 94, 137, 0.679);
  width: 7%;
  border: 0;
}